<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-color: #171010;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo"><a href="index.html">GLACIERS</a></div>
            <ul class="menu-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="references.html">References</a></li>
            </ul>
        </div>
    </nav>

    <div class="contents">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus dicta soluta vitae doloremque saepe
            dignissimos iste recusandae cupiditate corrupti id voluptate eos rem atque ducimus, ullam sapiente dolorem
            repudiandae esse accusantium cumque asperiores nemo qui nesciunt. Ea iste eaque nemo ab eius officia quam
            harum qui eveniet impedit? Eius animi ab laborum a ipsa, commodi fuga qui sunt fugiat molestias
            necessitatibus incidunt praesentium ex minus vitae vero aperiam tempora assumenda at veniam, tempore iusto
            earum deserunt veritatis. Suscipit, dolore quia.</p>
            <div class="form-container">
                <form id="form">
                    Coordinate 1<br> <input type="text" name="x"><br>
                    Coordinate 2<br> <input type="text" name="y"><br>
                    Coordinate 3<br> <input type="text" name="z"><br>
                    Coordinate 4<br> <input type="text" name="z"><br>
                    Coordinate 5<br> <input type="text" name="z"><br>
                    Coordinate 6<br> <input type="text" name="z"><br>
                    Coordinate 7<br> <input type="text" name="z"><br>
                    Coordinate 8<br> <input type="text" name="z"><br>
                    <br> <input type="submit" value="Submit"> <br>
                </form>
            </div>

    </div>

</body>

</html>