<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-color: #171010;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title></title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo"><a href="index.html">GLACIERS</a></div>
            <ul class="menu-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="references.html">References</a></li>
            </ul>
        </div>
    </nav>

    <div class="contents">
        <p>CONVERTER</p>
            <div class="form-container">
                <form id="form">

                    <p2>Coordinate 1</p2>  
                    <br> <input type="text" name="Latitude" class="latitude1"><br> 
                    <br> <input type="text" name="Longitude" class="longitude1"><br>

                    <p2>Coordinate 2</p2>  
                    <br> <input type="text" name="Latitude" class="latitude2"><br>
                    <br> <input type="text" name="Longitude" class="longitude2"><br>

                    <p2>Coordinate 3</p2>  
                    <br> <input type="text" name="Latitude" class="latitude3"><br>
                    <br> <input type="text" name="Longitude" class="longitude3"><br>

                    <p2>Coordinate 4</p2>  
                    <br> <input type="text" name="Latitude" class="latitude4"><br>
                    <br> <input type="text" name="Longitude" class="longitude4"><br>

                    <button class="btn" id="btn">Convert</button>
                </form>
            </div>

            <div class="prediction">
                
            </div>

    </div>

   
    <script src="script.js"></script>
    
</body>

</html>